{% extends "home.html" %}

{% load static %}

{% block main %}

<section>
    <div class="form">
      <form action="{% url 'offer' %}" method="post" class="form-control">
        {% csrf_token %}
        <label for="name">Your name:</label>
        <input type="text" name="name" id="name">

        <label for="title">Title:</label>
        <input type="text" name="title" id="title">

        <label for="proposes">Propose:</label>
        <textarea name="proposes" id="proposes" row="5"></textarea>

        <button type="submit">Send!</button>
      </form>
      <button class="back-to-home"><a href="{% url 'home' %}">Back to home!</a></button>
    </div>
  </section>

{% endblock %}